# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc


# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Logs
*.log
logs/


# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# IDE
.idea/